<div class="site-section bg-light">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-*">
        <div *ngIf="isLoading">
          <app-loading-spinner></app-loading-spinner>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-around">

      <div class="col-md-6 mb-5">

        <form class="p-5 bg-white" #save="ngForm" (ngSubmit)="onsave(save)" *ngIf="!isLoading">
          <h3 class="text-center text-danger">Change Account Type</h3>

          <div class="alert alert-danger" *ngIf="error">
            {{ error }}
          </div>
          <!-- first name and last name -->
          <!-- <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="name"> Name</label>
              <input type="text" id="name" class="form-control" ngModel name="name"
                pattern="^[a-zA-Z_][a-zA-Z0-9_]*$" minlength="3" #name="ngModel"
                [ngClass]="{ 'alert-danger': name.invalid && name.touched }" value="{{ user.name }}" />
              <div>
                <div class="text-danger small" *ngIf="name.errors?.required && name.touched">
                  - Your Name is required.
                </div>
                <div class="text-danger small" *ngIf="name.errors?.pattern && name.touched">
                  - Your Name must start with letters or underscores only.
                </div>
                <div class="text-danger small" *ngIf="name.errors?.minlength && name.touched">
                  - Your Name must be 5 characters at least.
                </div>
              </div>
            </div>
          </div> -->
          <!-- email -->

          <!-- <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="email">Email</label>
              <input type="email" id="email" class="form-control" ngModel name="email" value="{{ user.email }}"  email #email="ngModel"
                [ngClass]="{ 'alert-danger': email.invalid && email.touched }" />
              <div>
                <div class="text-danger small" *ngIf="email.errors?.required && email.touched">
                  - Your Email is required.
                </div>
                <div class="text-danger small" *ngIf="email.errors?.email && email.touched">
                  - Your Email must be valid.
                </div>
              </div>
            </div>
          </div> -->


          <!-- <div class="row form-group">
            <div class="col-md-12">
              <div class="form-group">
                <label class="text-black">Gender</label>
                <div [ngClass]="{
                    'alert-danger':  save.submitted
                  }" class="radio d-flex justify-content-around">
                  <label>
                    <input  type="radio" name="gender" value="male" ngModel #gender="ngModel" />
                    Male
                  </label>
                  <label>
                    <input  type="radio" name="gender" value="female" ngModel #gender="ngModel" />
                    Female
                  </label>
                </div>
              </div>
              <div>
                <div class="text-danger small" *ngIf=" !save.submitted">
                  - Gender is required.
                </div>
              </div>
            </div>
          </div> -->

          <div class="row form-group">
            <!-- role Type -->
            <div class="col-md-12">
              <div class="form-group">
                <label class="text-black">Account Type</label>
                <div [ngClass]="{
                    'alert-danger':   save.submitted  && gender.invalid
                  }" class="radio d-flex justify-content-around">
                  <label>
                    <input required type="radio" name="role" value="2" ngModel #gender="ngModel" />
                    Owner
                  </label>
                  <label>
                    <input required type="radio" name="role" value="1" ngModel #gender="ngModel" />
                    Renter
                  </label>

                  <label>
                    <input required  type="radio" name="role" value="0" ngModel #gender="ngModel" />
                    Admin
                  </label>
                </div>
              </div>
              <div>
                <div class="text-danger small" *ngIf="save.submitted && gender.invalid">
                  - role Type is required.
                </div>
              </div>
            </div>
          </div>


          <!-- Edit -->
          <div class="row form-group align-items-center justify-content-between">
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary btn-lg text-white" [disabled]="!save.valid" >
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
