
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
              <h2 class="footer-heading mb-4">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a routerLink="home">Home</a></li>
                <li><a routerLink="about">About Us</a></li>
                <li><a routerLink="find">Find</a></li>
                <li><a routerLink="contact">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
              <h2 class="footer-heading mb-4">Features</h2>
              <ul class="list-unstyled">
                <li><a routerLink="home">Home</a></li>
                <li><a routerLink="apart-details">Details</a></li>
                <li><a routerLink="profile">profile</a></li>
    
              </ul>
            </div>
           
            <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
              <h2 class="footer-heading mb-4">Follow Us</h2>
              <a routerLink="" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a routerLink="" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a routerLink="" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a routerLink="" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row pt-5 mt-5">
        <div class="col-12 text-md-center text-left">
          <p>
        &copy; 2019 <strong class="text-black">Browse</strong> Free Template. All Rights Reserved. <br> Design by <a href="https://free-template.co/" target="_blank" class="text-black">Free-Template.co</a>
        </p>
        </div>
      </div>
    </div>
  </footer>
