/* You can add global styles to this file, and also import other style files */
@import './assets/scss/style.scss';
@import 'https://fonts.googleapis.com/css?family=Rubik:400,700';
@import './assets/fonts/icomoon/style.css';
@import './assets/css/bootstrap.min.css';
@import './assets/css/magnific-popup.css';
@import './assets/css/jquery-ui.css';
@import './assets/css/owl.carousel.min.css';
@import './assets/css/owl.theme.default.min.css';
@import './assets/css/bootstrap-datepicker.css';
@import './assets/fonts/flaticon/font/flaticon.css';
@import './assets/css/aos.css';
@import './assets/css/rangeslider.css';
@import './assets/css/style.css';
//admin panal style
@import './assets/assets_admin/css/bootstrap.min.css';
@import './assets/assets_admin/plugins/fontawesome/css/all.min.css';
@import './assets/assets_admin/plugins/fontawesome/css/fontawesome.min.css';
@import './assets/assets_admin/css/feathericon.min.css';
@import './assets/assets_admin/plugins/morris/morris.css';
@import './assets/assets_admin/css/bootstrap-datetimepicker.min.css';
@import './assets/assets_admin/css/style.css';





