<app-overlay>
  <ng-container class="content">
    <h1>About Us</h1>

  </ng-container>
</app-overlay>
<div class="site-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="../../assets/images/img_1.jpg" alt="Free website template by Free-Template.co"
          class="img-fluid rounded">
      </div>
      <div class="col-md-5 ml-auto">
        <h2 class="text-primary mb-3">History</h2>
        <p>
          If you want an apartment dealer to have good specifications and also a good price,
          and he knows the locations of all services such as hospitals and restaurants,
          and you know everything about the apartment,
          and you also see pictures of it, you must use our website
          With us, you can see the suitable apartment for you and also see people’s comments about the owner of the
          apartment and the apartment itself, without paying money and knowing the public places nearby. If you are an
          apartment owner, upload your apartment data and wait for the administration to agree to

        </p>



        <ul class="ul-check list-unstyled success">
          <li>it is free </li>
          <li>place from any where in egypt</li>
          <!-- <li>choose suitable p</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>




