<app-overlay>
  <ng-container class="content">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1>Find Your Place</h1>
      </div>
    </div>
  </ng-container>
</app-overlay>

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="form-search-wrap p-2" data-aos="fade-up" data-aos-delay="200">
        <form
          method="post"
          #search="ngForm"
          (ngSubmit)="onSearch(search.value)"
        >
          <div class="row d-flex align-items-end">
            <div class="col-lg-3 col-xl-3 no-sm-border border-right">
              <label class="text-danger">Choose Gender</label>

              <select class="form-control" ngModel name="gender" id="">
                <option value="">Choose Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="col-lg-2 col-xl-2 no-sm-border border-right">
              <label class="text-danger">Choose Price</label>

              <select
                class="form-control"
                ngModel
                name="min_price"
                (change)="showVal($event)"
                id=""
              >
                <option value="500">500-1000</option>
                <option value="1000">1000-2000</option>
                <option value="2000">2000-4000</option>
              </select>
            </div>
            <div class="col-lg-2 col-xl-2 no-sm-border border-right">
              <label class="text-danger">Choose Governorate</label>

              <div class="wrap-icon">
                <span class="icon"
                  ><span class="icon-keyboard_arrow_down"></span
                ></span>
                <select
                  class="form-control"
                  #governate="ngModel"
                  name="governate"
                  ngModel
                  (change)="choosegov($event)"
                  id=""
                >
                  <option *ngFor="let city of gov" [value]="city.governorate">
                    {{ city.governorate }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-xl-2 no-sm-border border-right">
              <label class="text-danger">Choose Areas</label>

              <div class="wrap-icon">
                <span class="icon"
                  ><span class="icon-keyboard_arrow_down"></span
                ></span>
                <select
                  class="form-control"
                  [required]="governate.dirty"
                  ngModel
                  *ngIf="test"
                  name="state"
                  id=""
                >
                  <option value=""></option>
                  <option *ngFor="let city of cities" [value]="city.name">
                    {{ city.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-xl-2">
              <button
                type="submit"
                [disabled]="search.invalid"
                class="btn text-white btn-danger"
              >
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="site-section" data-aos="fade">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">
          All Apartment Realated to this Area
        </h2>
        <p class="color-black-opacity-5">
          All Apartment Realated to this Area.
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 mb-4 mb-lg-4 col-lg-4" *ngFor="let apart of apart">
        <div class="card" style="width: 450px">
          <img
            class="card-img-top"
            [src]="url + apart.link"
            alt="Card image"
            style="width: 100%"
          />
          <div class="card-body">
            <h4 class="card-title">{{ apart.nearby }}</h4>
            <p class="card-text">Price : {{ apart.price }}</p>
            <p class="card-text">Address : {{ apart.address }}</p>
            <p class="card-text">Max Persons : {{ apart.max }}</p>
            <p class="card-text">Gender : {{ apart.gender }}</p>

            <a [routerLink]="['apart-details', apart.id]" class="btn btn-danger"
              >Show</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
